/* Start Main Rulez */

body {
  background-color: #f4f4f4f4;
  font-size: 16px;
}

.asterisk {
  color: red;
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 3px;
  
}

/* End Main Rulez */

/* Start Login Form */

.login {
  width: 450px;
  margin: 20px auto;
}

.login h4 {
  color: #888;
}

.login input {
  margin-bottom: 10px;
}

.login .form-control {
  background-color: #eaeaee;
}

.login .btn {
  background-color: #008dde;
}

/* End Login Form */

/*  Start Bootstrap Edits  */

.navbar {
  border-radius: 10px;
  margin-bottom: 0;
  color: white;
}

.navbar-nav {
  color: white !important;
}

.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 0.5s ease;
  color: white;
}

/* .navbar-nav .wel {
  display: flex;
  justify-content: end;
} */

.nav > li > a {
  padding: 15px 12px;
  transition: all 0.5s ease;
}

.form-control {
  position: relative;
}

.nice-message {
  background-color: white;
  margin: 10px 0;
  padding:  10px;
  border-left: 5px solid #00205b;
}

/*  End Bootstrap Edits  */

/*  Start Users Page */

h1 {
  font-size: 55px;
  margin: 40px 0;
  font-weight: bold;
  color: #666;
}

.showpass {
  position: absolute;
  right: 25px;
  top: 10px;
  color: #c9c6c6;
  font-size: 25px;
}
.first {
  max-width: 500px !important;
}

.main-table {
  box-shadow: 0 3px 10px #ccc;
}

.main-table td {
  background-color: #fff;
  vertical-align: middle !important;
}

.main-table tr:first-child td {
  background-color: #068a9e;
  color: white;
}

.main-table tr:nth-child(odd) {
  background-color: #888;
}

.main-table .activate,
.main-table .deactivate {
  margin-left: 5px;
}

.main-table .btn {
  padding: 3px 10px;
  margin-bottom: 5px;
}

.main-table .btn .edit,
.main-table .btn .trash {
  position: relative;
  right: 5px;
}

.main-table .activate {
  margin-right: 5px;
}

.main-table .admin,
.main-table .member {
  background-color: green;
  color: white;
  padding: 5px 8px;
  margin-right: 10px;
  border-radius: 10px;
}

.main-table .admin {
  background-color: rgb(230, 189, 5);
}

.main-table .open,
.main-table .cloes,
.main-table .solve {
  background-color: rgb(230, 189, 5);
  color: white;
  padding: 5px 8px;
  margin-right: 10px;
  border-radius: 10px;
}

.main-table .cloes {
  background-color: rgb(6, 127, 220);
}

.main-table .solve {
  background-color: green;
}
/*  End Users Page  */

/*  Start Ticket Page  */

.information,
.review{
  margin-top: 20px;
}

.information ul,
.review ul {
  padding: 0;
  margin: 0;
}

.information ul li,
.review ul li {
  padding: 5px;
}

.information ul li:nth-child(odd),
.review ul li:nth-child(odd){
  background-color: #eee;
}

.information ul li span,
.review ul li span {
  display: inline-block;
  width: 250px;
}

.add-respanse h3 {
  margin: 0 0 10px;
}

.add-respanse .input {
  display: block;
  margin-bottom: 10px;
  width: 400px;
}

.add-respanse .send {
  margin-bottom: 30px;
}

h3 {
    font-size: 1.2375rem;
    color: white;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}


.userno {
  z-index: 9999;
  font-weight: 500; 
  position:absolute; 
  top: 80px; 
  font-size: 14px; 
  background-color: white; 
  padding-top: 20px;
  width: 250px; 
  text-align:left; 
  box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);
  transition: all 3s ease-in-out;
  display: none;
}

.userno a { padding: 0 ; font-size: 18px; }

.userno li { padding: 0 10px; height: 50px; }

.tran {
  z-index: 9999;
  font-weight: 500; 
  position:absolute; 
  top: 80px; 
  font-size: 14px; 
  background-color: white; 
  padding-top: 20px;
  width: 300px; 
  text-align:left; 
  box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 20%);
  transition: all 3s ease-in-out;
  display: none;
}

.tran a { padding: 0 ; font-size: 18px; }

.tran li { padding: 0 10px; height: 50px; }

/* Sidebar */

 #sidebar.collapsed {
    margin-left: -264px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}

.sidebar-logo {
    padding: 1.15rem 1.5rem;
}

.sidebar-logo a {
    color: #00205b;
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar-nav {
    padding: 0;
}

.sidebar-header {
    color: #00205b;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #00205b;
    position: relative;
    display: flex;
    font-size: 1rem;
}

.tickets {
  color: white;
  font-size: 1rem;
  position: relative;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: flex;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
} 

/* Responsive */

 @media (min-width:768px) {
    .content {
        width: auto;
    }
 } 

/*  End  Ticket Page  */

.check input[type='checkbox'] {
  position: relative;
  width: 60px;
  height: 30px;
  appearance: none;
  background-color: #c6c6c6;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2) ;
}

.check input:checked[type='checkbox'] {
  background-color: #03a9f4;
}

.check input[type='checkbox']::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background-color: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.check input:checked[type='checkbox']::before {
  left: 30px;
}

.content .scro .scroll {
  max-height: 300px;
  overflow-y: scroll;
}

.content .scro .scrolls {
  max-height: 500px;
  overflow-y: scroll;
}

/****************   Action List Start **************/

.wrapper {
  position: absolute;
  visibility: hidden;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.2);
}

.wrapper .menu {
  padding: 10px 12px;
}

.contents ul li {
  list-style: none;
}

.contents .item {
  text-decoration: none;
  font-size: 22px;
  height: 50px;
  display: flex;
  width: 100%;
  cursor: pointer;
  padding: 0 5px 0 0;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 2px;
  color: black;
  border: none;
  background-color: white;
}

.contents .item:hover {
  background: #f2f2f2f2;
}

.contents .item span {
  font-size: 19px;
  margin-left: 8px;
}

/****************   Action List End **************/

